<div class="container">
    <h3 class="recipe-title">All Recipes</h3>
    <hr>

    <%= will_paginate @recipe%>
    <div class="row">
      <div class="container">
        <%@recipe.reverse.each do |recipe|%>
          <div class="col-md-4">
            <div class="card">
              <%= image_tag(recipe.picture.url, class: "card-img-top", width: "336px", height: "150px", alt: "Card image cap") if recipe.picture?%>
              <div class="card-block">
                <h4 class="card-title"><%= truncate(recipe.name, length: 40)%></h4>
                <div class="card-text">
                  <p><%= truncate( recipe.summary,length: 50) %></p>
                  <p>
                    <small><%= time_ago_in_words(recipe.created_at)%>
                    <i>Created by <b><a href=""><%=recipe.chef.chefname%></a></b></i>
                    </small>
                  </p>
                </div>
                <a href="<%=recipe_path(recipe)%>" class="btn btn-warning-outline">Read More</a>
                <div class="pull-right" style="margin-top: 10px">
                  <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">
                      <%= recipe.thumbs_up_total %>&nbsp
                    </span>
                  <%end%>
                  <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
                    <span class="glyphicon glyphicon-thumbs-down" style="color: red" aria-hidden="true">
                      <%= recipe.thumbs_down_total %>
                    </span>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
</div>