<div class="container-fluid">
  <h3 class="recipe-title">
    <%=@recipe.name%>
    <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "btn btn-success", style: "float: right"%>
  </h3><hr>
  <div class="row">
    <div class="col-md-8 card">
      <p class="recipe-text card-block ">
        <h4><%= @recipe.summary%></h4>
        <hr>
        <p><strong>Steps</strong></p>
        <p><%=simple_format(@recipe.description)%></p>
      <p>
    </div>
    <div class="col-md-4 " style="padding-left: 15px">
      <div class="card">
          <div class="card-block text-center" >
            <%= image_tag(@recipe.picture.url, class: "card-img-top", width: "320px", height: "200px") if @recipe.picture?%>
          </div>
      </div>
    </div>
  </div>
</div>
