<!DOCTYPE html>
<html>
<head>
  <title>MyRecipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="myrecipes" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

</head>
<body>
	<div class="row">
		<div class="container">
            <%= render 'layouts/navigation'%>
			<div id="body_content">
                <%= render 'layouts/messages'%>
				<%= yield %>
			</div>
            <%= render 'layouts/footer'%>
		</div>
	</div>
</body>
</html>
